/Java/Biblioteca/nbproject/private/
/Java/Biblioteca/build/
/Java/Biblioteca/dist/
/Java/CellPhone/nbproject/private/
/Java/CellPhone/build/
/Java/EsercizioEsame/nbproject/private/
/Java/EsercizioEsame/build/
/Java/Ex Room/nbproject/private/
/Java/Ex Room/build/
